.nav,.main {
  max-width: var(--desktopWidth);
  margin:auto;
}

.nav {
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding-right:1rem;
}

.favoritesLink {
  background-color:var(--cardBackground);
  color:var(--highlight);
  text-decoration:none;
  border-radius:2.222rem;
  display:block;
  padding:0.5em 1em;
}

.main {  
  padding-right:1rem;
  padding-left:1rem;
  padding-bottom:1rem;
  max-width: calc(var(--desktopWidth) * .9);
  @media screen (min-width:1200px) {
    padding-left:2rem;
  }
}

.error {
  background: red;
  color:black;
  padding:.5rem 1rem;
  border-radius: 1rem;
}