.root {
  display:flex;
  gap: .5rem;
  justify-content:center;
  margin-top: 1rem;
}

.button {
  background: var(--cardBackground);
  border:none;
  border-radius: 2rem;
  padding:.5em 1em;
  color: var(--text);
  font-size:12px;
  &:disabled {
    opacity: .5;
    background:transparent;
  }
}